.switch {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 20px;
    margin: 0 5px;
    display: flex;
}

.switch_input,
.switch_input--mobile {
    height: 0;
    width: 0;
    opacity: 0;
}

.switch_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 20px;
    background-color: #FFFFFF;
    border: 0.6px solid #4B48DB;
    transition: 0.4s;
}

.switch_slider::before {
    content: '';
    position: absolute;
    cursor: pointer;
    left: 1px;
    // top: 8%;
    bottom: 1.4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #4B48DB;
    ;
    transition: 0.4s;
}

.switch_input--mobile:checked+.switch_slider,
.switch_input:checked+.switch_slider {
    background-color: #4440F7;
}

.switch_input--mobile:checked+.switch_slider::before,
.switch_input:checked+.switch_slider::before {
    background-color: #FFFFFF;
    transform: translateX(21px);
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
}