<div class="auth-mobile">
    <form id="login-form--mobile">
            <fieldset>
              <legend>Log in</legend>
              <label>
                Name
                <input type="email" id="loginEmail" placeholder="e-mail" />
              </label>
              <label>
                password
                <input
                  type="password"
                  id="loginPassword"
                  placeholder="password"
                />
              </label>
            </fieldset>
            <button type="submit">Log in</button>
          </form>
          <form id="signin-form--mobile">
            <fieldset>
              <legend>Sign in</legend>
              <label>
                Name
                <input type="email" id="signinEmail" placeholder="e-mail" />
              </label>
              <label>
                password
                <input
                  type="password"
                  id="signinPassword"
                  placeholder="password"
                />
              </label>
            </fieldset>
            <button class="submitSignin" type="submit">Register</button>
          </form>
</div>