<div class='calendar-wrap'>
<p class='calendar-title'>Search date news</p>
<!-- поле для дати -->
<div class="calendar-box-positioner">
<div class="calendar-box">
    
    <div class="date-field">
    
        <svg class="calendar_icon" width="20" height="20">
            <use href="./images/symbol-defs.svg#icon-Calendar"></use>
        </svg>
    
        <span class="data_selected"></span>
    
        <button class="btn_calendar_open" type="submit"><svg class="calendar_open_icon" width="14" height="14">
                <use href="./images/symbol-defs.svg#icon-Vector-Down"></use>
            </svg>
        </button>
    
        <button class="btn_calendar_close" type="submit"><svg class="calendar_close_icon" width="14" height="14">
                <use href="./images/symbol-defs.svg#icon-Vector-Up"></use>
            </svg>
        </button>
    
    </div>
    
    <!-- поле для календаря -->
    
    <div class="calendar calendar-close">
        <!-- visually-hidden -->
        <div class="calendar_title">
            <svg class="calendar_month_down" width="14" height="14">
                <use href="./images/symbol-defs.svg#icon-Vector-Up"></use>
            </svg>
            <p class="current_month"></p>
            <p class="current_year"></p>
    
            <svg class="calendar_month_next" width="14" height="14">
                <use href="./images/symbol-defs.svg#icon-Vector-Up"></use>
            </svg>
    
            <svg class="calendar_year_back" width="14" height="14">
                <use href="./images/symbol-defs.svg#icon-Vector-Up"></use>
            </svg>
    
            <svg class="calendar_year_next" width="14" height="14">
                <use href="./images/symbol-defs.svg#icon-Vector-Up"></use>
            </svg>
        </div>
    
        <ul class="week_days list">
            <li>Su</li>
            <li>Mo</li>
            <li>Tu</li>
            <li>We</li>
            <li>Th</li>
            <li>Fr</li>
            <li>Sa</li>
    
        </ul>
    
        <ul class="days"></ul>
        <button type="button" class="resetDate">reset date</button>
    
    </div>
</div>
</div>
</div>
