<div class="backdrop is-hidden">
  <div class="wrapper">
    <div>
      <div class="wrapper__head">
        <a href="/src/index.html">
          <h1 class="wrapper__head-h1 link">News</h1>
        </a>
        <svg width="24" heigth="24" class="svg-item close">
          <use
            href="/src/images/symbol-defs.svg#icon-x"
            width="24"
            heigth="24"
          ></use>
        </svg>
      </div>
      <ul class="wrapper__link">
        <a
          href="/src/index.html"
          class="one bg-color-active mob-link--color-active"
        >
          <li class="wrapper__link-item" data-state="true">
            <div class="flex">
              <div class="wrapper__link-use item-one">
                <svg width="32" heigth="32" class="svg-item">
                  <use
                    href="/src/images/symbol-defs.svg#icon-icon-home"
                    width="32"
                    heigth="32"
                    class="svg-item"
                  ></use>
                </svg>
              </div>
              <p class="wrapper__link-text">Home</p>
            </div>
            <svg width="24" heigth="24" class="svg-rigth rigth-one">
              <use
                href="/src/images/symbol-defs.svg#icon-Vector-right"
                width="24"
                heigth="24"
                class="svg-item"
              ></use>
            </svg>
          </li>
        </a>
        <a href="/src/favorite.html" class="two">
          <li class="wrapper__link-item" data-state="true">
            <div class="flex">
              <div class="item-two">
                <svg width="32" heigth="32" class="svg-item">
                  <use
                    href="/src/images/symbol-defs.svg#icon-icon-heart"
                    width="32"
                    heigth="32"
                    class="svg-item"
                  ></use>
                </svg>
              </div>
              <p class="wrapper__link-text">Favorite</p>
            </div>
            <svg width="24" heigth="24" class="svg-rigth rigth-two">
              <use
                href="/src/images/symbol-defs.svg#icon-Vector-right"
                width="24"
                heigth="24"
                class="svg-item"
              ></use>
            </svg>
          </li>
        </a>
        <a href="/src/read.html" class="tree">
          <li class="wrapper__link-item" data-state="false">
            <div class="flex">
              <div class="item-tree">
                <svg width="32" heigth="32" class="svg-item">
                  <use
                    href="/src/images/symbol-defs.svg#icon-icon-book"
                    width="32"
                    heigth="32"
                  ></use>
                </svg>
              </div>
              <p class="wrapper__link-text">Read</p>
            </div>
            <svg width="24" heigth="24" class="svg-rigth rigth-tree">
              <use
                href="/src/images/symbol-defs.svg#icon-Vector-right"
                width="24"
                heigth="24"
                class="svg-item"
              ></use>
            </svg>
          </li>
        </a>
      </ul>
    </div>
    <div class="wrapper__button">
      <div class="sun_btn--mobile" type="button">
        <svg class="sun_icons" width="21" height="21">
          <use href="./images/symbol-defs.svg#icon-Sun"></use>
        </svg>
      </div>
      <label class="switch">
        <input type="checkbox" class="switch_input--mobile" />
        <span class="switch_slider"></span>
      </label>
      <div class="moon_btn--mobile" type="button">
        <svg class="sun_icons" width="21" height="21">
          <use href="./images/symbol-defs.svg#icon-Moon"></use>
        </svg>
      </div>
      <div class="user-auth--mobile" type="button">
        <div class="auth-form--mobile">
          
        </div>
        <svg class="user-auth-icon--mobile" width="21" height="21">
          <use href="./images/symbol-defs.svg#icon-user"></use>
        </svg>
      </div>
    </div>
  </div>
</div>
<script src="/src/js/mob-menu.js"></script>
